<!DOCTYPE html>
<html>
  <head>
    <title>Kaburu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://canvasjs.com/assets/script/canvasjs.min.js' %>
    <%= javascript_include_tag 'https://canvasjs.com/assets/script/jquery-1.11.1.min.js'%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
